body {
    background-image: url('/images/greenbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Slackey', cursive;
  }

  .title {
    height: auto;
    width: 50%;
    font-size: 1.5rem;
    padding: 16px;
    margin: 16px;
   
  }

  .winner {
    height: 50px;
    margin: 50px;
    padding: 50px;
  }

  .dropbtn {
    background-color: #fb6222;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #fb6222;
  }

  .button {
    background-color: #fb6222;
    color: white;
    padding: 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 25px;
  }

  .button:hover {
    background-color: #0fa31b;
  }

  .button:active {
    background-color: #000000;
  }

  #the-winner {
    font-size: 1.7rem;
  }

  .choose {
    font-size: 1.5rem;
  }